<div class="auth-bg">
    <div class="auth-card">
        <ng-container *ngIf="!loading; else skeletonBlock">
            <h1 class="auth-title">Log in</h1>
            <button class="google-btn" type="button" (click)="onGoogleLogin()" [disabled]="loading">
                <img src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg" alt="Google"
                    class="google-icon" />
                Sign in with Google
            </button>
            <div class="divider">or</div>
            <form (submit)="onLogin($event)">
                <label class="auth-label">EMAIL</label>
                <input class="auth-input" type="email" placeholder="Enter your email" [(ngModel)]="email" name="email"
                    [disabled]="loading" required />
                <label class="auth-label">PASSWORD</label>
                <input class="auth-input" type="password" placeholder="Enter your password" [(ngModel)]="password"
                    name="password" [disabled]="loading" required />
                <button class="auth-btn" type="submit" [disabled]="loading">SIGN IN</button>
            </form>
            <div *ngIf="error" class="auth-error">{{ error }}</div>
            <div class="auth-footer">
                Don't have an account? <a routerLink="/register">Sign up</a>
            </div>
        </ng-container>
        <ng-template #skeletonBlock>
            <div class="login-skeleton">
                <div class="line-skeleton" style="width: 60%; height: 32px; margin: 0 auto 24px auto;"></div>
                <div class="line-skeleton" style="width: 100%; height: 40px;"></div>
                <div class="line-skeleton" style="width: 100%; height: 40px;"></div>
                <div class="line-skeleton" style="width: 100%; height: 40px;"></div>
                <div class="line-skeleton" style="width: 80%; height: 24px; margin: 24px auto 0 auto;"></div>
            </div>
        </ng-template>
    </div>
</div>